body {
  background-color: #7952B3;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-top-10 {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12);
  /* background-color: #071E3D; */
  background-color: white;
  width: 100%;
  max-width: 500px;
}

.bar {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  /* min-width: 70px; */
  /* max-width: 100px; */
  /* min-width: 70px; */
  min-height: 50px;
  border-radius: 5px;
  /* border: 1px solid #278EA5; */
  box-shadow: 0px 0px 3px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12);
  /* background-color: #278EA5; */
  margin-right: 10px;
}
.bar:last-child {
  margin-right: 0px;
}

.bar__slot {
  width: 10px;
  height: 10px;
  border: 1px solid #071E3D;
  border-radius: 50%;
  background-color: white;
}

.bar__slot_filled {
  background-color: #FFC107;
}

.btn {
  text-align: center;
  padding: 5px 10px;
  background-color: #21E6C1;
  color: #7952B3;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12);
  user-select: none;
}